.row-test-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col-test-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.badge-group {
  display: block;
}

div[id$="test-area"] {
  background: #dfdfdf;
}
div[class^="box"] {
  min-height: 50px;
  min-width: 50px;
  height: 16%;
  width: 16%;
  margin:.25%;
  border-radius: 5px;
  background-color: lightseagreen;
}

section p {
  display: inline;
}

span {
  cursor: pointer;
}